@font-face {
    font-family: 'couturebold';
    src: url('../font/couture-bld-webfont.eot');
    src: url('../font/couture-bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/couture-bld-webfont.woff2') format('woff2'),
         url('../font/couture-bld-webfont.woff') format('woff'),
         url('../font/couture-bld-webfont.ttf') format('truetype'),
         url('../font/couture-bld-webfont.svg#couturebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'couturebold_italic';
    src: url('../font/couture-bldit-webfont.eot');
    src: url('../font/couture-bldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/couture-bldit-webfont.woff2') format('woff2'),
         url('../font/couture-bldit-webfont.woff') format('woff'),
         url('../font/couture-bldit-webfont.ttf') format('truetype'),
         url('../font/couture-bldit-webfont.svg#couturebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
	height: 100%;
}
body {
	height: 100%;
}
header {
	background-image: url('../images/imageedit_10_7451216273.jpg');
	height: 100%;
	background-size: cover;
	color: white;
}
/*navbar*/
.icon-bar {
	background-color: white;
}
.navbar-nav {
	text-decoration: none;
	list-style: none;
}
.navbar-nav li {
	color: white;
	font-family: 'couturebold';
	font-size: 2pt;
	text-decoration: none;
	font-size: 20pt;
	margin: 20px 0 20px 0;
}
.navbar-nav a {
	font-size: 12pt;
	color: white;
	padding: 0 20px 0 20px;
}
.navbar-nav a:hover {
	text-decoration: none;
	color: #D3D3D3;
}
.centerheader {
	color: white;
	text-align: center;
	position: relative;
  	top: 26%;
  	transform: translateY(-50%);
}
.centerheader h1 {
	font-size: 60pt;
	font-family: 'couturebold';
}
.centerheader p {
	font-size: 25pt;
	font-family: 'couturebold';
}

/*index*/
.serverinfo {
	background-color: black;
	min-height: 660px;
	width: 100%;
}
.container-index {
	color: white;
	text-align: center;
}
.container-index h1{
	font-family: 'couturebold';
	padding-top: 40px;
	margin-bottom: 50px;
}
.row {
	font-family: 'couturebold';
}



/*Donation*/
.donation {
	background-image: url('../images/imageedit_2_3771220341.jpg');
	background-size: cover;
	min-height: 80%;
	width: 100%;
}
.container-donation {
	color: white;
	text-align: center;
}
.container-donation h1{
	font-family: 'couturebold';
	padding-top: 20px;
	margin-bottom: 40px;
}
/*vote*/
.vote {
	background-color: black;
	min-height: 80%;
	width: 100%;
}
